container {
    background-color: #b5e9ea;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .par_1 {
    text-align: center;
    font-size: 18px;
  }
  
  .title {
    text-align: center;
    text-shadow: 4px 4px #efeded;
    color: #494848;
  }
  
  .mid_section {
    background-color: #ecf7e5;
    text-align: center;
    position: absolute;
    top: 21%;
    bottom: 8%;
    right: 17%;
    left: 17%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
  }
  
  .top_section {
    background-color: #c0af95;
    position: absolute;
    top: 38%;
    bottom: 20%;
    right: 22%;
    left: 22%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .score {
    background-color: #ffbdbc;
    width: 100px;
    height: 70px;
    overflow: hidden;
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 2px;
    border-radius: solid 10px black;
    font-size: 16px;
    color: black;
  }
  
  .reset {
    background-color: #ffbdbc;
    font-size: 18px;
    position: absolute;
    top: 15px;
    right: 12px;
    border-radius: 10px;
    width: 70px;
    height: 35px;
    overflow: hidden;
  }
  
  .par_history {
    background-color: #b5e9ea;
    position: absolute;
    bottom: 1%;
    border-radius: 7px;
    width: 48%;
    height: 8%;
    font-size: 18px;
    color: black;
    text-align: left;
    padding-left: 1%;
    padding-top: 1%;
  }
  
  .icon {
    width: 60px;
    height: 70px;
    position: absolute;
    top: 5%;
  }
  
  input {
    position: absolute;
    bottom: 42%;
    width: 220px;
    height: 30px;
    text-align: center;
    border-radius: 33px;
  }
  
  .submitBtn {
    background-color: #7cbb4f;
    position: absolute;
    width: 90px;
    height: 23px;
    bottom: 27%;
    border-radius: 10px;
    color: white;
  }
  
  .message {
    text-align: center;
    position: absolute;
    bottom: 10px;
    color: black;
    font-size: 24px;
    bottom: 8%;
    margin: auto;
  }
